body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;


    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}

.filtroContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#frutasInputsContainer {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.frutaInput {
    display: flex;
    align-items: center;
    gap: 1px;
}

.frutaInput label {
    width: 150px;
}

#treeMapContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    border: 2px solid #ccc;
}

.treeMapItem {
    display: flex;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5%;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1px;
    aspect-ratio: 1.8;
    transition: all 0.3s ease;
}

.treeMapItem:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

select {
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
}

@media (max-width: 600px) {
    .filtroContainer {
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .frutaInput label {
        width: auto;
        margin-right: 10px;
    }

    #frutasInputsContainer {
        gap: 1px;
    }

    #treeMapContainer {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .filtroContainer {
        flex-direction: column;
        gap: 5px;
    }
}
